.logged-in-user {
  display: inline-block;
}

.info {
  margin: 10px;
  padding: 5px;
  background-color: lightgray;
  display: none;
}

.error {
  border: 2px solid red;
  display: block;
}

.success {
  border: 2px solid green;
  display: block;
}

.blog {
  border: 2px solid gray;
  padding: 3px;
  margin: 2px;
}

.blog p {
  margin: 5px;
}

.inline-p {
  display: inline-block;
}

.delete-blog-btn {
  background-color: red;
}