.logged-in-user {
  margin-left: auto;
  padding: 0.5rem 1rem;
  color: whitesmoke;
  display: flex;
  align-items: baseline;
}

.logout-btn {
  margin-left: 10px;
}

.blog {
  padding: 3px;
  margin: 2px;
}

.blog p {
  margin: 5px;
}

.delete-blog-btn {
  background-color: red;
  margin-right: 0.5rem;
}

.nav {
  background-color: #007bff;
  align-items: baseline;
}

.nav-link {
  margin: 5px;
  color: whitesmoke
}

#login {
  margin-top: 0.5rem;
}

h3 {
  margin-top: 2rem;
}

.comment-section {
  margin-top: 1rem;
}

#new-comment {
  margin-bottom: 0.5rem;
}

.new-blog-form {
  margin-bottom: 1rem;
}

#new-form-submit {
  margin-top: 1rem;
}