.logged-in-user {
  margin-left: auto;
  padding: 0.5rem 1rem;
}

.logout-btn {
  margin-left: 10px;
}

.info {
  margin: 10px;
  padding: 5px;
  background-color: lightgray;
  display: none;
}

.error {
  border: 2px solid red;
  display: block;
}

.success {
  border: 2px solid green;
  display: block;
}

.blog {
  padding: 3px;
  margin: 2px;
}

.blog p {
  margin: 5px;
}

.inline-p {
  display: inline-block;
}

.delete-blog-btn {
  background-color: red;
}

.nav {
  background-color: lightgray;
  align-items: baseline;
}

.nav-link {
  margin: 5px;
}

#login {
  margin-top: 0.5rem;
}

h3 {
  margin-top: 2rem;
}

.comment-section {
  margin-top: 1rem;
}